.container {
  width: 1120px;
  margin: 64px auto;
}

.iconWrapper {
  margin: 0 auto 40px;
  text-align: center;
  
  & .resultIcon {
    font-size: 100px;

  }
}

.content {
  display: flex;
  justify-content: center;
  h2 {
    width: 736px;
    text-align: center;
    color: var(--darker-grey);
    font-weight: var(--font-bold);
    font-size: 48px;
  }

  P {
    color: var(--light-grey);
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
  }
}

.searchWrapper {
  margin: 15px 0;
  display: flex;
  justify-content: center;

  span {
    i {
      font-size: 18px;
      top: 18px;
      font-weight: var(--font-bolder);
      right: 10px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    padding: 0 42px 0 16px;
    background: none;
    border: 2px solid var(--lighter-grey);
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.66667;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    transition: border-color 0.2s;

    &:hover {
      outline: none;
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

}



.exploreContainer {
  display: flex;
  justify-content: space-between;
}

.exploreTitle {
  color: var(--dark-grey);
  font-weight: var(--font-semi-bold);
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
}

.exploreCard {
  border: var(--light-border);
  border-radius: 32px;
  padding: 4px;
  width: 256px;

  .item {
    p:first-child {
      color: var(--darker-grey);
      font-weight: var(--font-semi-bold);
      font-size: 16px;
    }
    p:last-child {
      color: var(--light-grey);
      font-weight: var(--font-regular);
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }

  .content {
    h2 {
      width: 100%;
      font-size: 24px;
    }
  }

  .exploreContainer {
    flex-direction: column;
  }
  .exploreCard {
    width: 100%;
    margin-bottom: 10px;
  }
}
