.privacyContainer {
  width: 1144px;
  margin: 0 auto;
  padding: 40px 0;

  & .topContainer {
    & h5 {
      color: var(--light-grey);
      font-weight: var(--font-semi-bold);
    }

    & h1 {
      font-size: 2.5rem;
      margin: 10px 0;
      font-weight: var(--font-semi-bold);
      color: var(--dark-grey);
    }

    & h4 {
      color: var(--light-grey);
      font-weight: var(--font-semi-bold);
    }

    & span {
      color: var(--light-blue);
      cursor: pointer;
      margin-left: 5px;
    }
  }

  & .middleContainer {
    display: block;
    margin: 50px 0;   
    color: var(--dark-grey);

    small {
      font-size: 13px;
      color: var(--light-grey);
      display: block;
      padding-bottom: 20px;
    }
    
    h3 {
      margin-bottom: 10px;    
      display: block;    
      font-weight: var(--font-semi-bold);
      color: var(--black);
    }
  
    ol {
      margin-left: 15px;
      font-size: 15px;
      li {
        padding-left: 10px;
        list-style: lower-alpha;

        ol {
          li {
            list-style: decimal;
          }
        }
  
        ul {
          padding-bottom: 15px;
          margin-left: 18px;
          li {
            list-style: disc;
            font-size: 14px;
            padding: 10px;
          }
        }
      }
    }
  
    p {
      padding: 0 0 15px;
      display: block;
      line-height: 1.6em;
      font-size: 14px;
  
      a {
        color: var(--light-blue);
      }
  
    }
  }
}


@media screen and (max-width: 950px) {
  .termsContainer {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }    
}

@media screen and (max-width: 500px) {
  .termsContainer {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }  
}
