.iconStyle {
  color: #e6e8ec;
  border: 2px solid #e6e8ec;
  border-radius: 30px;
  cursor: pointer;
  background: none;
  padding: 10px 20px;
  display: flex;
  margin-right: 10px;

  svg {
    fill: var(--light-grey);
    width: 20px;
    height: 20px;
  }
  &:hover {
    svg {
      fill: var(--darker-grey) !important;
    }    
  }
}


.iconColor {
  color: lightgrey;
  font-weight: var(--font-bold);
}
.actions.active .button {
  background: #23262f;
  box-shadow: inset 0 0 0 2px #23262f;
}
:global(.dark-mode) .actions.active .button {
  background: #141416;
  box-shadow: inset 0 0 0 2px #141416;
}
.actions.active .button svg {
  fill: #fcfcfd;
}

.actions.active .body {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.body {
  position: absolute;
  right: 100px;
  top: 55px;
  width: 208px;
  padding: 16px 16px 20px;
  border-radius: 12px;
  background: #fcfcfd;
  border: solid 2px var(--lighter-grey);

  box-shadow: 0px 16px 64px -16px rgba(31, 47, 70, 0.3);
  visibility: hidden;
  opacity: 0;
  transform: translateY(3px);
  transition: all 0.2s;
  z-index: 1;

  button {
    display: block;
  }
}
:global(.dark-mode) .body {
  background: #23262f;
  box-shadow: inset 0 0 0 2px #23262f, 0 4px 24px rgba(20, 20, 22, 0.5);
}

.item {
  display: flex;
  align-items: center;
  padding: 16px 0 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: var(--font-bold);
  cursor: pointer;
  color: #777e90;
  transition: color 0.2s;

  i {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    &.email {
      font-size: 16px;
    }
    &.copy {
      font-size: 20px;
    }
  }

}
.item svg {
  margin-right: 8px;
  fill: #777e90;
  transition: fill 0.2s;
}
.item:hover {
  color: var(--light-blue);
}
.item:hover svg {
  fill: var(--lighter-blue);
}
.item:not(:last-child) {
  border-bottom: 1px solid #e6e8ec;
}
:global(.dark-mode) .item:not(:last-child) {
  border-color: #353945;
}
