.container {
  width: 50%;
  &.expandViewInner {
    .imageContainer {
      background-color: var(--white);
      border-bottom: solid 1px var(--light-bg);
      width: 100%;
      height: 100%;
      padding: 50px;

      .inner {
        display: flex;
        align-items: center;
        position: relative;
        height: 500px;
        width: auto;

        .artImage {
          width: auto !important;
          height: auto !important;
          min-width: auto !important;
          max-width: auto !important;
          box-shadow: 0px 64px 64px -24px rgb(31 47 70 / 12%) !important;
          border-radius: 6px !important;
        }
      }
    }

    & .imageControls {
      width: 1144px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .imageContainer {
    position: relative;
  
    .artImage {
      border-radius: 20px;
      
    }
  
    .imageTab {
      position: absolute;
      bottom: 40px;
      width: 100%;
    }
  
    .likeDoubleClick {
      position: absolute;
      bottom: 0;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
      user-select: none;
      color: var(--white);
      transform-origin: 50% 100%;
  
      svg {
        -webkit-filter: drop-shadow(1px 0px 15px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(1px 0px 15px rgba(0, 0, 0, 0.7));    
        animation-duration: .2s;
        animation-name: fadeAndScale;
        animation-timing-function: cubic-bezier(.71,.55,.62,1.57);    
      }
    }
  }
  
  .fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: width 0.2s 0.2s, height 0.2s 0.2s, opacity 0.5s;
  }
  .fadeIn{
    opacity:1;
    width:100px;
    height:100px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  
  }
  
  .imageText {
    font-size: 12px;
    color: var(--lighter-bg);
    font-weight: var(--font-bold);
    position: absolute;
    top: 40px;
    left: 30px;
  
    p {
      padding: 5px 10px;
      border-radius: 4px;
    }
  
    & p.cat {
      background-color: var(--darker-grey);
      margin-right: 10px;
    }
  
    & p.lock {
      background-color: var(--dark-violet);
    }
  }
  
  .artIcons {
    p {
      font-weight: var(--font-semi-bold);
      color: var(--darker-grey);
      font-size: 14px;
    }
  
    i {
      font-size: 20px;
      font-weight: var(--font-semi-bold);
      color: var(--light-grey);
    }
  
    & .viewIcon {
      font-size: 20px;
      margin: 0 8px 0;
      color: var(--light-text);
    }
  
    & .likeIcon {
      font-size: 18px;
      margin: 0 8px 0;
      color: var(--pink);
    }
  
    & .expandIcon {
      font-size: 20px;
      margin: 0 8px 0;
      color: var(--light-text);
    }
  
    & .searchPlusIcon {
      font-size: 20px;
      margin: 0 8px 0;
      cursor: pointer;
      color: var(--light-text);
      &:hover {
        color: var(--dark-grey);
      }
    }
  
    &.artIconRight {
      display: flex;
    }
  }
}

.fullscreenImage {
  max-width: 70vh;
}

@media screen and (max-width: 1025px) {
  .container {
    width: 80%;
    margin-bottom: 30px;
    padding: 0 0;
    &.expandViewInner {
      
      & .imageControls {
        width: 100%;
      }
    }
  }
  .fullscreenImage {
    max-width: 60vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    &.expandViewInner {
      .imageContainer {
        background-color: var(--light-bg);
        padding: 0;
        
        .artImage {
          object-fit: cover !important;      
        }
      }
    }
  }
  .fullscreenImage {
    max-width: 60vh;
  }
}

@keyframes fadeAndScale {
  from {
      opacity: 0;
      transform: scale(.9, .9);
  }
  to {
      opacity: 1;
      transform: scale(1, 1);
  }
}

