.container {
  padding: 30px 25px 15px;
  border: solid 2px var(--lighter-grey);
  margin-top: 20px;
  border-radius: 16px;

  .topSection {
    display: flex;
    justify-content: space-between;

    .highestBid {
      display: flex;
    }

    .countDown {
      background-color: var(--lighter-grey);
      align-items: center;
      display: flex;
      padding: 0 20px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: var(--font-bolder);
      color: var(--dark-grey);
    

      .clockIcon {
        margin-right: 10px;
      }
    }
  }
}

.bidDetails {
  font-family: var(--font-poppins);
  p {
    color: var(--light-grey);

    &:first-child {
      font-size: 14px;
      font-weight: var(--font-semi-bold);

      span {
        margin-left: 5px;
      }
    }

    &:last-child {
      font-size: 24px;
      font-weight: var(--font-bold);

      span {
        margin-right: 10px;
      }
    }
  }

  span {
    color: var(--darker-grey);
  }
}

.btnContainer {
  margin: 20px 0;
  & > div {
    width: 100%;

    &:first-child {
      margin-right: 10px;
    }

    button {
      width: 100%;
      font-size: 16px;
      padding: 12px 15px;
    }
  }
}

.serviceDetails {
  font-size: 14px;
  color: var(--light-grey);

  & > * {
    margin-right: 10px;
  }

  p:nth-child(1) {
    font-weight: var(--font-semi-bold);
  }

  p:nth-child(2) {
    font-weight: var(--font-semi-bold);
    color: var(--darker-grey);
  }

  p:nth-child(3),
  p:nth-child(4) {
    font-weight: var(--font-regular);
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .topSection {
      display: flex;
      justify-content: space-between;

      .countDown {
        border-radius: 16px;
        margin-left: 20px;
        
        .clockIcon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0;
    .topSection {
      display: block;
      justify-content: space-between;

      .countDown {
        display: flex;
        border-radius: 50px;
        padding: 15px 0;
        margin: 20px 0 0;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;

        .clockIcon {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 818px) {
  
}


