.btnBlue,
.btnBorder {
  background-color: var(--light-blue);
  color: var(--white);
  outline: none;
  padding: 10px 15px;
  border-radius: 90px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--font-DMSans);
  font-weight: var(--font-semi-regular);
  white-space: nowrap;
  border: solid 2px var(--light-blue);

  &:hover,
  &:active {
    border-color: var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--lighter-bg);
  }
}

.btnBorder {
  background-color: transparent;
  color: var(--darker-grey);
  border: var(--light-border);

  &:hover,
  &:active {
    border-color: var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--lighter-bg);
  }
}
