.wrapper {
  width: 800px;
  height: 121px;
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: inherit;

  .userContainer {
    display: flex;
    align-items: center;
  }

  .userDetails {
    p {
      margin-bottom: 5px;
      font-family: var(--font-poppins);

      &:nth-child(1) {
        color: var(--darker-grey);
      }

      &:nth-child(2) {
        color: var(--light-grey);
        font-weight: var(--font-regular);
        font-size: 12px;
      }
    }
  }

  .profilePost {
    margin-left: 10px;

    .postItem {
      border-radius: 13px;
    }
  }
}

@media screen and (max-width: 812px) {
  .wrapper {
    width: 100%;
    height: fit-content;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  .container {
    .userContainer {
      width: 100%;
    }
    .userDetails {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .postContainer {
    display: none;
  }

  .profilePost {
    display: none;
  }
}
