.card {
  width: 280px;
  margin: auto;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  border: 0;
  text-align: center;

  &:last-child {
    p {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  & .cardAvatar {
    width: 135px;
    height: 135px;
    
    margin: 0 auto 20px auto;
    background-color: transparent;
    overflow: hidden;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    position: relative;
    cursor: pointer;
    
    img {
      border: solid 2px #fff !important;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 130px;
      width: 130px;
      height: 130px;
    }

    .camera {
      display: none;
    }

    &:hover {
      .camera {
        width: 130px;
        height: 130px;
        border-radius: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,.2);
        position: absolute;
        z-index:1;
        color: var(--white);
        font-size: 34px;
      }
    }
  }

  & .social {
    margin: 10px 0 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    color: var(--dark-grey);
    font-weight: var(--font-semi-bold);
    span {
      font-weight: var(--font-semi-bold);
      color: var(--light-grey);
      display: block;
      font-size: 13px;
    }
  }
}

.contentGroup {
  display: block;
  margin: 20px auto;

  span {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  p {
    font-weight: var(--font-bold);
    font-size: 12px;
    display: inline-block;
  }
}

.btngrp {
  padding: 0 10px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;

  & .btnFollow {
    background-color: var(--light-blue);
    border: solid 2px var(--light-blue);
    font-size: 13px;

    &:hover,
    &:active {
      border-color: var(--dark-blue) !important;
      background-color: var(--dark-blue) !important;
      color: var(--lighter-bg);
    }
  }

  & .btnMisc {
    border: solid 2px var(--lighter-grey);
    color: var(--dark-grey);

    &:hover,
    &:active {
      border-width: 2px !important;
      border-color: var(--dark-blue) !important;
      color: var(--dark-blue) !important;
    }
  }

  & .btnReport {
    border: solid 2px var(--lighter-grey);
    color: var(--light-text);
    width: 40px !important;
    height: 40px !important;

    &:hover,
    &:active {
      border-width: 2px !important;
      border-color: var(--red) !important;
      color: var(--pink) !important;
    }
  }
}

.icongrp {
  padding: 0 25px;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;

  & .socialIcons {
    font-size: 18px;
    color: var(--light-grey);

    &.iconPortfolio {
      &:hover {
        color: var(--black);
      }
    }

    &.iconTwitter {
      &:hover {
        color: var(--social-twitter);
      }
    }

    &.iconInstagram {
      &:hover {
        color: var(--social-instagram);
      }
    }

    &.iconFacebook {
      &:hover {
        color: var(--social-facebook);
      }
    }

    &.iconDribbble {
      &:hover {
        color: var(--social-dribbble);
      }
    }
  }
}

.bio {
  margin: 1rem auto;
  font-size: 13px;
  p {
    color: var(--light-text);
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
  }
}

.divider {
  font-size: 13px;
  font-weight: var(--font-semi-bold);
}


.divgrp {
  margin: 1rem auto;

  .profileAddress {
    font-weight: var(--font-semi-bold);
    padding: 10px 10px 10px 20px;
    background-color: var(--light-bg);
    border-radius: 30px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;

    .address {
      flex: 1;
      margin-right: 0.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .info {
      display: none;
    }

    &:hover {
      background-color: var(--dark-grey);
      color: var(--lighter-bg);

      i {
        display: none;

      }

      .address {
        display: none;
      }

      .info {
        display: inline-block;
        padding: 0;
        margin: 0;
      }

    }
  }

  .userName {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 17px;
      font-weight: var(--font-bolder);
      margin-bottom: 20px;
      display: block;
    }

    .badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--lighter-blue);
      font-size: 13px;
      margin-left: 4px;
      
      svg {
        color: var(--white) !important;        
        position: relative;
        width: 8px;
        height: 8px;
        
      }
    }
  }

  h4 {
    font-size: 13px;
    font-weight: var(--font-semi-bold);
    color: var(--light-text);
  }
}

.footer {
  margin-top: 2rem;
  p {
    color: var(--light-text);
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 40px;

    & .cardAvatar {
      width: 130px;
      height: 130px;
    }
  }

  .contentGroup {
    display: block;

    span {
      margin-right: 5px;
    }
  }

  .btngrp {
    padding: 0 10px;
    margin: 10px auto;
    display: flex;
    width: 40%;

    & .btnFollow {
      background-color: var(--light-blue);
      border: solid 2px var(--light-blue);
      margin: 0 3px;
    }

    & .btnMisc {
      border: solid 2px var(--lighter-grey);
      color: var(--dark-grey);
      margin: 0 3px;
    }
  }

  .icongrp {
    width: 40%;
    margin: 2rem auto;
  }

  .card {
    .social {
      margin: 10px auto;
      width: 40%;
    }
  } 
}

@media screen and (max-width: 576px) {
  .btngrp {
    width: 50%;
    margin: 1rem auto;
  }
  .icongrp {
    width: 50%;
    margin: 2rem auto;
  }
  .card {
    margin-bottom: 0;
    
    .social {
      width: 50%;
    }
  } 
}

@media screen and (max-width: 414px) {
  .btngrp {
    width: 70%;
  }
  .icongrp {
    width: 80%;
  }
  .card {
    margin-bottom: 0;
    
    .social {
      width: 70%;
    }
  } 
}

@media screen and (max-width: 360px) {
  .btngrp {
    width: 80%;
  }
  .icongrp {
    width: 100%;
  }
  .card {
    margin-bottom: 0;
    
    .social {
      width: 90%;
    }
  } 
}

@media screen and (max-width: 320px) {
  .btngrp {
    width: 100%;
  }
  .icongrp {
    width: 100%;
  }
  .card {
    margin-bottom: 0;

    .social {
      width: 90%;
    }
  } 
}

/* <Floating> */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes scale {
  from {
    transform: scale(1.0);
  }
  
  to {
    transform: scale(1.2);
  }
}
