.walletList {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 544px;
  padding: 25px;
  border: solid 2px var(--white);

  .item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  
  i {
    width: 70px;
    height: 64px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }

  span {
    display: block;
  }

  .mark {
    border-radius: 50%; 
    background-color: var(--white);
  }

  .walletIcon {
    color: var(--lighter-bg);
    font-size: 20px;
    margin-right: 25px;
    padding: 0 12px;
    
  }

  p {
    color: var(--dark-grey);
    font-size: 24px;
    font-weight: var(--font-semi-bold);
    font-family: var(--font-poppins);
    padding-left: 30px;
    display: block;
    width: 100%;
  }

  .tag {
    font-size: 14px;
    color: var(--white);
    background-color: var(--light-blue);
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;

  }

  &:hover {
    p {
      color: var(--darker-grey);
    }
    border-radius: 16px;
    background-color: var(--light-bg);
  }
}

.activeIcon {
  border: var(--blue-border);
  color: var(--light-blue);
  font-weight: var(--font-bold);
  margin-right: 25px;
  padding: 0 12px;
}

.activeWallet {
  border: solid 2px var(--lighter-blue);
  border-radius: 16px;
  

  &:hover {
    background-color: var(--white);
    border: solid 2px var(--lighter-blue);
  }
}

.arrowRight {
  font-weight: var(--font-bold);
  color: var(--darker-grey);
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 40px 0;
  }
  .walletList {
    width: 100%;
    P {
      font-size: 20px;
    }
  }
}
